body
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 50px;
	padding: 2em;
	max-width: 768px;
}

.Fizz
	{
	color: red;
	font-weight: bold;
	text-shadow: 5px 5px 5px #FF0000
	}
.Buzz
	{
	color: blue;
	font-weight: bold;
	animation:redToYellow 5s;
	-webkit-animation:redToYellow 5s; /* Safari and Chrome */
	}
@keyframes redToYellow
	{
	from {background:red;}
	to {background:yellow;}
	}

@-webkit-keyframes redToYellow /* Safari and Chrome */
	{
	from {background:red;}
	to {background:yellow;}
	}

.FizzBuzz
	{
	color: purple;
	font-weight: bold;
	font-style: italic;
	}

.warn
	{
	font-size: 0.6em;
	color: red;
	}
